{
    "extends": [
        "airbnb"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "es6": true,
            "classes": true
        },
        "ecmaVersion": 9
    },
    "rules": {
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": 0,
        "react/jsx-filename-extension": 0
    }
}